:root {
  --bs-primary: #3c5a67;
  --bs-secondary: #6a7e75;
  --body-bg: #f4f6f5;
  --bs-body-color: #1e1e1e;
}

body {
    font-family: "Segoe UI", sans-serif;
}

#cycleCanvas {
    border: 1px solid #ddd;
    background: #fdfdfd;
    border-radius: 50%;
}

.w-1 {
    width: 1rem;
}

.w-2 {
    width: 2rem;
}

.w-3 {
    width: 3rem;
}

.w-4 {
    width: 4rem;
}

.w-5 {
    width: 5rem;
}

.h-1 {
    height: 1rem;
}

.h-2 {
    height: 2rem;
}

.h-3 {
    height: 3rem;
}

.h-4 {
    height: 4rem;
}

.h-5 {
    height: 5rem;
}